---
layout: default
title: 张瓅的博客
tagline: 文章列表
is_index: true
---
{% include JB/setup %}

<ul class="posts">
  {% for post in paginator.posts %}
    <h3>{{ post.title }}</h3>
    {% if post.summary %}
      <div>{{post.summary}}<p>
        <p><a href="{{ post.url | prepend: site.baseurl }}">阅读全文...</a></p>
        <span> &raquo; {{ post.date | date: "%A, %B %-d, %Y" }}
        </span>

      </div>
    {% else if post.excerpt %}
      <div>{{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">阅读全文...</a></p>
        <span> &raquo; {{ post.date | date: "%A, %B %-d, %Y" }}
        </span>

    </div>
    {% else %}
      <div>{{post.content}}</div>
      <span> &raquo; {{ post.date | date: "%A, %B %-d, %Y" }}
      </span>
    {% endif %}
    <hr />
  {% endfor %}
</ul>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
